.appContainer {
  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
  position: relative;
}

.backgroundcover-text {
  position: absolute;
  bottom: 0;
  font-style: italic;
  padding-right: 10px;
  width: 100%;
  text-align: right;
  font-size: 12px;
}