.appContainer {
  height: 100vh; /* sets the height of the container to fill the entire viewport */
  width: 100%; /* sets the width of the container to fill the entire viewport */
  background-image: url('./assets/images/bg.jpg');
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.backgroundcover-text {
  position: absolute;
  bottom: 0;
  font-style: italic;
  padding-right: 10px;
  width: 100%;
  text-align: right;
  font-size: 12px;
}

.center-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}